@import url('https://fonts.googleapis.com/css?family=Abel|Cabin:500i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POSITIONING THE HEADER, ETC.  */

header {
    position: absolute;
    top:25%;
    left:50%;
    outline-color: #3156a0;
    outline-style: outset;
    transition: all 0.7s;
}

/* OUTLINE & BOX */

.outline {
    position: absolute;
    height:90%;
    top:30%;
    left:6%;
    box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
    background: url("../assets/backg.png") no-repeat center;
    background-color: #3156a0;
    border-radius: 25px;
    transition: all 0.7s;
    -webkit-transition: color 0.3s;
    transition: all 0.7s;
}

/* OUTLINE IMAGE ICON */
.costaicon {
    position: absolute;
    top:0%;
    left:0%;
    width: 350px;
    height: 350px;
    max-width: 500px;
    max-height: 500px;
    transition: all 0.7s;
    float:right;
    border-radius:50%;
    shape-outside: url(https://raw.githubusercontent.com/ConstantineLinardakis/OfficialWebsite/main/src/assets/OTHERLOGO%20TRANSPARENT.png);
    shape-margin: 15px;
    shape-image-threshold: 0.5;
    mask-image: url(https://raw.githubusercontent.com/ConstantineLinardakis/OfficialWebsite/main/src/assets/OTHERLOGO%20TRANSPARENT.png);
    margin:10px;
 }

/* OUTLINE PARAGRAPHS */
.outline > p {
    display:block;
    float:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* 
    position: absolute;
    top:10%;
    left:35%;
    */
    font-size: 20px;
    color:white;
    font-family: 'Abel', sans-serif;
    transition: all 0.7s;
}

/* BOTTOM FOOTER  */

.footer {
   position:absolute;
   bottom:-350px;
   width:100%;
   transition: all 0.7s;
}

/* MEDIA SCREEN QUARIES  */

@media screen and (min-width: 768px) {
    .outline {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .outline {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
    }
}
