@import url('https://fonts.googleapis.com/css?family=Abel|Cabin:500i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POSITIONING THE HEADER, ETC.  */

header {
    position: absolute;
    top:25%;
    left:50%;
    outline-color: #3156a0;
    outline-style: outset;
    transition: all 0.7s;
}

/* OUTLINE & BOX */

.outline {
    overflow-y: auto;
    position: absolute;
    height:90%;
    top:30%;
    left:6%;
    box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
    background: url("../assets/backg.png") no-repeat center;
    background-color: #3156a0;
    border-radius: 25px;
    transition: all 0.7s;
    -webkit-transition: color 0.3s;
    transition: all 0.7s;
}

/* OUTLINE IMAGE ICON */
.costaicon {
    transition: all 0.7s;
    float:left;
    border-radius:50%;
    margin:10px;
 }

/* OUTLINE PARAGRAPHS */
.outline > p {
    display:block;
    font-size: 20px;
    color:white;
    font-family: 'Abel', sans-serif;
    transition: all 0.7s;
    margin:10px;
}

.outline > p2 {
    display:block;
    font-size: 20px;
    color:white;
    font-family: 'Abel', sans-serif;
    transition: all 0.7s;
    text-align: center;
    text-decoration-line: overline;
    margin:10px;
}

.outline > p3 {
    display:block;
    font-size: 20px;
    color:white;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    transition: all 0.7s;
    text-align: center;
    text-decoration-line: underline;
    margin:10px;
}


/* BOTTOM FOOTER  */

.footer {
   position:absolute;
   bottom:-350px;
   width:100%;
   transition: all 0.7s;
}

/* MEDIA SCREEN QUARIES  */

@media screen and (min-width: 768px) {
    .outline {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .outline {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
    }
}

/* MEDIA SCREEN QUARIES HEADER / BOX  */

@media screen and (max-height: 746px) {
    header  {
        top:30%;
    }

    .outline {
        top:40%;
    }
}

@media screen and (max-height: 630px) {
    header  {
        top:35%;
    }

    .outline {
        top:45%;
    }
}

@media screen and (max-height: 536px) {
    header  {
        top:40%;
    }

    .outline {
        top:50%;
    }
}

@media screen and (max-height: 462px) {
    header  {
        top:45%;
    }

    .outline {
        top:55%;
    }
}


/* iPhone X and Xs Max */
@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 

        header {
            width: fit-content;
            height:fit-content;
        }
  
        .outline {
            width: fit-content;
            height:fit-content;
        }
  
        .footer {
            width: fit-content;
            height:fit-content;
            align-items: center;
        }
  
}

/* iPhone XR */
@media only screen 
    and (min-device-width: 414px) 
    and (min-device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) {

        header {
            width: fit-content;
            height:fit-content;
        }

        .outline {
            width: fit-content;
            height:fit-content;
         }

        .footer {
            width: fit-content;
            height:fit-content;
            align-items: center;
        }

}
