@import url('https://fonts.googleapis.com/css?family=Abel|Cabin:500i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POSITIONING THE HEADER, ETC.  */

header {
    position: absolute;
    top:25%;
    left:50%;
    outline-color: #3156a0;
    outline-style: outset;
}

/* OUTLINE OF THE GAME LINKS  */

.outline {
    position: absolute;
    height: 950px;
    width: 950px;
    top:30%;
    left:6%;
    box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
    background: url("../assets/backg.png") no-repeat center;
    background-color: #3156a0;
    border-radius: 25px;
    transition: all 0.7s;
}


/* BOTTOM FOOTER  */

.footer {
    position:absolute;
   bottom:-350px;
   width:100%;
   transition: all 0.7s;
}


/* MEDIA SCREEN QUARIES  */

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .outline {
        align-self:center;
    }
}
