@import url('https://fonts.googleapis.com/css?family=Abel|Cabin:500i');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POSITIONING THE HEADER, ETC.  */

header {
    position: absolute;
    top:25%;
    left:50%;
    outline-color: #3156a0;
    outline-style: outset;
}

/* OUTLINE OF THE GAME LINKS */

.outline {
    position: absolute;
    top:30%;
    left:6%;
    box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
    background: url("../assets/backg.png") no-repeat center;
    background-color: #3156a0;
    border-radius: 25px;
    transition: all 0.7s;
}

/* OUTLINE GAME LINKS  */
.gamelinkss {
   position: absolute;
   top:25%;
   left:6%;
   width: 100%;
   max-width: 500px;
}

.image1 {
    display: block;
    width: 100%;
    height: auto;
}
/*
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through 
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .gamelinkss:hover .overlay {
    opacity: 1;
  }

  */


/* BOTTOM FOOTER  */

.footer {
   position:absolute;
   bottom:-350px;
   width:100%;
   transition: all 0.7s;
}


/* MEDIA SCREEN QUARIES  */

@media screen and (min-width: 768px) {
    .outline {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .outline {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        align-items: center;
    }
}







